---
import Layout from '../components/Layout.astro';
import NumberBomb from '../components/NumberBomb.astro';
---

<Layout title="娱乐">
  <section>
    <h1 class="page-title">🎮 娱乐 · Fun</h1>
    <p class="text-[#666666] mb-8">工作学习之余，来放松一下！</p>

    <NumberBomb />
  </section>
</Layout>
